In [27]:
# Load libraries
import pandas as pd
import psycopg2
from sqlalchemy import create_engine, text
from sqlalchemy.exc import OperationalError, SQLAlchemyError
from sqlalchemy.orm import sessionmaker

print("success load libraries!")

success load libraries!

In [28]:
# Database enviroment
DATABASE = 'kumpulan_dataset_ls'
USER = 'root'
PASSWORD = 'password'
HOST = '127.0. 0.1'
PORT = '8888'
SCHEMA = 'ecommerce_b2b'

In [29]:
# Create connection to database
connection_string = (
    f"postgresql+psycopg2://{USER}:{PASSWORD}@{HOST}:{PORT}/{DATABASE}"
    f"?options=-csearch_path={SCHEMA}&client_encoding=UTF8"
)
engine = create_engine(connection_string)
try:
    with engine.connect() as connection:
        print("Success connect to database!")
except OperationalError as e:
    print("Failed connect to database!")
    print(e)

Success connect to database!

In [30]:
# Start your query
q_products = "SELECT * FROM products"

# Read your query
df_products = pd.read_sql(q_products, engine)

# Print the first few rows of the DataFrame
df_products.head(3)

,product_id,product_name,price,main_cat,sub_cat1,sub_cat2,stock,weight,weight_unit,sold,quantity_sold,rating,total_rating,product_status,free_shipping_cost
0,631abb0d1bf9801cbdc14394,SHARP Microwave Oven R-728(K)-IN,1550000,Elektronik,None,None,1,8,kg,6,8,0.0,0,Aktif,False
1,631abad9cdc00cf233d51b7c,"PIPE,NON METALLIC - PIPE-3IN-PVC,AW-4M-MASPION",311900,Jasa Perawatan Peralatan & Mesin,None,None,13,3000,gram,4,54,0.0,0,Aktif,True
2,631abad9cdc00cf233d51ad7,ROCKWOOL - ROCKWOOL-WIRE-D-50X900X500MM - 100K...,986500,Jasa Perawatan Peralatan & Mesin,None,None,92,50000,gram,9,245,0.0,0,Aktif,True